body {
  background: black;
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
.a4paper {
  position: relative;
  width: 210mm;
  height: 297mm;
  margin: auto;
  padding: 18px 32px;
  box-sizing: border-box;
  background: white;
  text-align: justify;
}
h3 {
  font-weight: bold;
  font-size: 16px;
  margin: 18px 0 4px;
  padding: 0;
  border-bottom: 3px solid #00b4d8;
  overflow: hidden;
}
h5 {
    margin: 0;
    font-size: 13.5px;
    margin-top: 8px;
}
.avatar {
    float: right;
    margin: -12px 0 0 12px;
    border-radius: 4px;
    box-shadow: 0 3px 8px lightgrey;
}
img {
    width: 160px;
    border-radius: 4px 4px 0 0;
}
p {
    margin: 0;
    text-align: center;
}
